// ユーザープロフィール編集ページ

body {
  min-height: 100%;
  background: #f5f5f5;
  font-family: ‘Source Sans Pro’, Helvetica, Arial, ‘游ゴシック体’,
  ‘YuGothic’, ‘メイリオ’, ‘Meiryo’, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
a {
  text-decoration: none;
}

h2 {
  line-height: 1.4;
}

.l-content {
  margin: 40px auto 0;
  .l-chapter-container {
    margin: 0 auto;
    width: 700px;
    background: white;
    .l-chapter-head {
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
    }
    .image-box {
      .setting-profile-icon {
        text-align: center;
        padding: 72px 16px 24px;
        .icon-box {
          height: 60px;
          width: 60px;
          display: inline-block;
          vertical-align: middle;
          .profile-img {
            height: 60px;
            border-radius: 50%;
            width: 60px;
          }
        }
        .input-default {
          width: 220px;
          margin: 0 0 0 8px;
          font-size: 16px;
          line-height: 1.5;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 10px 16px 8px;
          height: 48px;
          box-sizing: border-box;
        }
      }
    }
  }
}





