-# ログアウトページ

= render partial: 'shared/header'

%section.logout-section
  = render partial: 'shared/sidebar'
  .logout-content
    .logout-container
      %form.box-inner{action: "#", method: "POST", novalidate: "novalidate"}
        .box-content
          %button.btn-logout{type: "submit"} ログアウト

= render partial: 'shared/footer'