%footer
  .top
    .top__contents
      .top__contents__left
        .top__contents__left__unit1
          スマホでかんたんフリマアプリ
        .top__contents__left__unit2
          今すぐ無料ダウンロード
        .top__contents__left__unit3
          .top__contents__left__unit3--logo
            = image_tag "logo/logo_red.svg", width: "68", height: "68"
          .top__contents__left__unit3--app
            %a{href: "https://www.apple.com/jp/ios/app-store/"}
              = image_tag "logo/app-store.svg", width: "144", height: "40"
          .top__contents__left__unit3--google
            %a{href: "https://play.google.com/store/apps"}
              = image_tag "logo/google-play.svg", width: "144", height: "40"
      .top__contents__right
        = image_tag "logo/screen.png", width: "300", height: "260"
  .bottom
    .bottom__articles
      .bottom__articles__list1
        .bottom__articles__list1__text1
          メルカリについて
        .bottom__articles__list1__text2
          会社概要（運営会社）
        .bottom__articles__list1__text3
          採用情報
        .bottom__articles__list1__text4
          プレスリリース
        .bottom__articles__list1__text5
          公式ブログ
        .bottom__articles__list1__text6
          メルカリロゴ利用ガイドライン
      .bottom__articles__list2
        .bottom__articles__list2__text1
          ヘルプ＆ガイド
      .bottom__articles__list3
        .bottom__articles__list2__text1
          プライバシーと利用規約
      .bottom__articles__list4
        .bottom__articles__list2__text1
          国
    .bottom__info
