%footer{class: 'sub-footer'}
  %ul{class: 'sub-footer__links'}
    %li
      %a{href: '#', class: 'opacity'}
        プライバシーポリシー
    %li
      %a{href: '#', class: 'opacity'}
        エフマーケット利用規約
    %li
      %a{href: '#', class: 'opacity'}
        特定商取引に関する表記
  = link_to '#' do
    = image_tag 'logo/logo_gray.svg', class: 'sub-footer__logo'
  %p{class: 'copy-right'} © 2019 Fmarket