.item_detail_contents{
  top:100px;
  margin: 40px auto 0;
  width: 700px;
  background-color: #fff;
  padding: 24px 40px 40px;
&__sabo{
  padding: 0 0 40px;
  margin: 60px 250px 0 530px;
}

  &__item-name{
    text-align: center;
    font-size: 24px;
    word-wrap: break-word;
    line-height: 1.4;
  }

  &__box{
    width: 620px;
    height: 449px;
    display: flex;
    flex-direction: row;
    font-family: '游ゴシック体', 'YuGothic', sans-serif;
    margin-top:16px;

    &__images{
      position: relative;
      min-width: 300px;
      max-width: 300px;
      height: 420px;
      background-color: $main;
      }

      & &__images-main{
        width: 100%;
        height: 300px;

        }

      & &__images-img{
          width: 300px;
          height: 300px;
        }
        
      & &__images-subs{
        position: absolute;
        bottom:0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 120px;
        } 

      & &__images-sub{
        width: 60px;
        height: 60px;
        }

     &__details-area{
       float: right;
        width: 300px;
        height: 450px;
        margin: 0 0 0 20px;
         }  

    &__details-table{
        width: 100%;
        height: 100%;
        max-width: 360px;
        margin: 0;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
       
        th{
        width: 117px;
        padding: 15px 10px;
        background-color: $main;
        border: 1px solid $visit;
        font-weight: lighter;
        text-align: left;
        vertical-align: middle;        
      }
        td{
          border: 1px solid $main;
          padding: 15px 10px;

          p{
            line-height: 0.5;
          }
        }   
    }
    a{
      text-decoration: none;
      color:$link;
    }
    a:hover{
      text-decoration: underline;
      color:$link;
      opacity: 0.8;
    }
  
    .evaluation{
      display: inline-block;
      margin-right: 10px;
    }
  
  .fas:before {
      font-size: 17px;
      padding: 0 4px;
      vertical-align: middle;
  }
  .fa-laugh{
    color: #ef5185;
  }
  .fa-meh{
    color: #fba933;
  }
  .fa-frown{
    color: #6ab5d8;
  }
  }

  .price__section{
    width: 100%;
    text-align: center;
    margin-top: 24px;
  
    &-pricetext{
      margin-right: 16px;
      font-size: 50px;
      font-weight: bold;
      }
    &-tax{
      font-size: 10px;
      }
    &-delivery-fee{
      font-size: 16px;
      }
   }

    .buy-button{
      display: block;
      margin-top: 16px;
      background: #ea352d;
      text-align: center;
      font-weight: 600;
      -webkit-transition: all ease-out .3s;
      transition: all cubic-bezier(0.4, 0, 1, 1) .3s;
      }
      .buy-button:hover{
        background: #e62017;
        text-decoration: none;
        opacity: 1;
      }

      .buy-text{
      color: #fff;
      font-size: 24px;
      line-height: 60px;
     }
      a{
        text-decoration: none;
      }
      .buy-text:hover{
      color: #fff;
      text-decoration: none;
     }
  
  .delivery_caution{
    margin-top: 16px;
    color: #ea352d;
    line-height: 1.5;
    text-align: center;;
  }

  .item__description{
    padding: 5px 0 0;
    line-height: 1.5;
    font-size: 18px;
    
    &-text{
      white-space: pre-wrap;
    }
    }
  .item__bottun__container{
    margin: 16px 0 0;
    
    &__box{
      display:flex;
      flex-direction: row;
      list-style:none;

    &-tag{
        margin-right: 15px;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
          &-like{
            padding:0 ;
          }
          .fa-heart{
            color: #ccc;
          }
          &-report{
            padding:0 5px;
            }
            
        }

    &-secure{
          margin-left:25px;
          display: inline-block;
          color:$link;

        .material-icons{
          font-size: 15px;
          padding:  8px 5px 11px 20px;
          vertical-align: middle;
        }  
        }
        a{
          text-decoration: none;
          color:#333;
        }
      a:hover{
        opacity: 0.8;
        }
      }
    }  
}

.comment__container{
  margin: 10px auto 0;
  width: 700px;
  background-color: #fff;
  padding: 10px 20px;
  p.text-cener{
    text-align: center;
    font-size: 16px;
  }
  &__lis{
    &.asd{
      background: #ea352d;
    }
    line-height: 48px;
    background: #aaa;
    margin: 16px 0 16px 0;
    a{
      color: #fff;
      p{
        text-align: center;
      }
    }
  }
  &__box{
    margin: 15px 0;
    padding: 10px ;
    width: 100%;
    background-color: #fff6de;
  }
  
  
  &__comment{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  &__comment:focus{
    border:solid 1px $link;
    outline: 0;
  }
  &__submit{
    width: 100%;
    margin: 8px 0 0;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    outline: 0;
    cursor: pointer;
  }
}

.page_nav__area{
  width: 100%;
  padding: 0 100px;
  &__box{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 24px auto 0;
    list-style: none;
    
    .fa-angle-left{
      left:0;
      font-size: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .fa-angle-right{
      right:0;
      font-size: 20px;
      margin-left: 10px;
      vertical-align: middle;
    }
    &-prev{
      color: $link;
    }
    &-next{
      color: $link;
    }
    a{
      font-size: 15px;
      text-decoration: none;
      color: $link;
    }
    a:hover{
      text-decoration: underline;
      opacity: 0.8;
      }
  }
}

.social__icon__area{
  margin: 20px auto 0;
  width: 700px;
  background-color: #fff;
  padding: 24px 40px 40px;

  &__container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__icon{
      width: 45px;
      height: 45px;
      color: #fff;
      text-align: center;
      font-size: 30px;
      margin: 40px 5px 0;

      
      &-facebook{
      background-color: #385185;
      border-radius: 5px;
      color: #fff;
      }

      &-twitter{
        background-color: #5d9dc9;
        color: #fff;
        border-radius: 5px;
     }
      &-pinterest{
        background-color: #aa262a;
        color: #fff;
        border-radius: 5px;
        font-size: 20px;
      }
      
      }
      .fab{
        align-self: auto;
        line-height: 45px;
      }
      :hover{
        filter: brightness(1.05);
        opacity: 0.9;
      }
      
    }
  }

  .related__item{
    margin: 30px auto 60px;
    width: 700px;
    
    &-head{
      font-size: 22px;
    
        a{
          text-decoration: none;
          color:$link;
        }
        a:hover{
          text-decoration: underline;
          color:$link;
          opacity: 0.8;
        }
      }
  }
  
  .items__container{
    width: 700px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    

    &__box{
      width: 220px;
      display: flex;
      flex-direction: column;
      background-color: #fff;

      &-item_phot{
        width: 220px;
      }

      &__item_body{
        padding:15px;
        line-height: 1.5;
        bottom: 0;

        &__info{
          display: flex;
          flex-direction:row;
          justify-content: space-between;
          line-height: normal;
          align-items: center;
          margin: 8px 0 0;
          
          &-price{
            font-weight: bold;
            font-size: 16px;
          }
          
          &-like{
            color: #ccc;
            font-size: 17px;
          }
          span{
            font-size: 15px;
            font-weight: normal;
            padding-left:5px;
            color: #333;
          }
        }

        h3{
          font-size: 16px;
          font-weight: lighter;
        }      
        }
        
      }  
      a{
        color:#333;
        background-color: #fff;
      }
      a:hover{
        color:#333;
        text-decoration: none;
        background-color:#fff;
        opacity: 1;
      }
  }

.bottom__nav{
  background-color:$main;
  width: 100%;
  border-top: 1px solid #eee;

    &__crumbs{
      width: 1020px;
      margin: 0 auto;
      list-style: none;
      
        &__crumbs-list{
          display: inline-block;
          font-size: 12px;
          line-height: 1.2;
          padding: 16px 0;
          font-weight:600;
            }
        .fas{
          margin: 0 8px;
          color: #888;
          font-size: 16px;
          vertical-align: middle;
        }
        a{
          color: #333;
          text-decoration: none;
          font-weight: normal;
        }
        a:hover{
          text-decoration: underline;
          opacity: 0.8;
        }
      }

    }