// ログイン前
.toppage-main{
  @include box(100px, 100%);
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  z-index: 3;
  position: relative;
  .contents{
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &__top{
      @include box(40px, 100%);
      &__image{
        float: left;
      }
      &__search{
        float: right;
        position: relative;
        &--box{
          @include box(40px, 841px);
          padding-left: 10px;
          font-size: 16px;
          border: solid 1px #cccccc;
          border-radius: 4px;
          background-color: $main;
        }
        &--box:focus{
          border:solid 1px $link;
          outline: 0;
        }
        &--icon{
          position: absolute;
          margin-left: 818px;
          line-height: 40px;
        }
      }
    }
    &__bottom{
      display: flex;
      justify-content:space-between;
      @include box(44px, 1020px);
      margin-top: 8px;
      &__left{
        list-style: none;
        line-height: 36px;
        font-size: 14px;
        font-weight: bold; 
        .fa{
          color: $accent;
        }
        &__category{
          float: left;
          padding-right: 20px;
        }
        &__category:hover{
          color: $link;
        }
        &__brand{
          float: right;
        }
        &__brand:hover{
          color: $link;
        }
      }
      &__right{
        display:flex;
        justify-content:space-between;
        height: 44px;
        line-height: 32px;
        text-align: center;
        &__registration{
          @include box(32px, 106px);
          border-radius: 4px;
          background-color: $accent;
          a{
            color: $button;
          }
        }
        &__login{
          transition: 0.5s;
          @include box(32px, 76.75px);
          margin-left: 11px;
          border: solid 1px #0095EE;
          border-radius: 4px;
          background-color: #ffffff;
          a{
            color: #0095EE;
          }
        }
        &__login:hover{
          transition: 0.5s;
          background-color: #0095EE;
          a{
            color: #ffffff;
          }
        }
      }
    }
  }
}

// ログイン後
.toppage-login{
  @include box(100px, 100%);
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  z-index: 3;
  position: relative;
  .contents{
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &__top{
      @include box(40px, 100%);
      &__image{
        float: left;
      }
      &__search{
        float: right;
        position: relative;
        &--box{
          @include box(40px, 841px);
          padding-left: 10px;
          font-size: 16px;
          border: solid 1px #cccccc;
          border-radius: 4px;
          background-color: $main;
        }
        &--box:focus{
          border:solid 1px $link;
          outline: 0;
        }
        &--icon{
          position: absolute;
          margin-left: 818px;
          line-height: 40px;
        }
      }
    }
    &__bottom{
      display: flex;
      justify-content:space-between;
      @include box(44px, 1020px);
      margin-top: 8px;
      &__left{
        list-style: none;
        line-height: 36px;
        font-size: 14px;
        font-weight: bold; 
        .fa{
          color: $accent;
        }
        &__category{
          float: left;
          padding-right: 20px;
        }
        &__category:hover{
          color: $link;
        }
        &__brand{
          float: right;
        }
        &__brand:hover{
          color: $link;
        }
      }
      &__right{
        display:flex;
        justify-content:space-between;
        height: 44px;
        line-height: 32px;
        text-align: center;
        &__like{
          width: 113px;
          margin-right: 14px;
          color: #333333;
          &--icon{
            @include header-icon();
          }
          &--text{
            float: right;
          }
        }
        &__like:hover{
          color: $link;
          .fa-heart{
            color: $link;
          }
        }
        &__notice{
          width: 83px;
          margin: 0px 14px;
          color: #333333;
          &--icon{
            @include header-icon();
          }
          &--text{
            float: right;
          }
        }
        &__notice:hover{
          color: $link;
          .fa-bell{
            color: $link;
          }
        }
        &__list{
          width: 129px;
          margin: 0px 14px;
          color: #333333;
          &--icon{
            @include header-icon();
          }
          &--text{
            float: right;
          }
        }
        &__list:hover{
          color: $link;
          .fa-check{
            color: $link;
          }
        }
        &__mypage{
          width: 112px;
          color: #333333;
          &--icon{
            float: left;
            img{
              border-radius: 50%;
            }
          }
          &--text{
            float: right;
          }
          &--text:hover{
            color: $link;
          }
        }
      }
    }
  }
}