.post{
  position: fixed;
  text-align: center;
  @include box(160px, 160px);
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  color: $button;
  background-color: $accent;
  &__text{
    padding-top:32px;
    font-size: 22px;
  }
  &__camera{
    margin-top: 8px;
  }
}