.side{
  width: 280px;
  margin: 0 40px 0 0;
  float: left;  
  &__menubox{
    list-style: none;
    
  }
  &__list{
    overflow: hidden;
    position: relative;
    display: block;
    padding: 10px 16px;
    background: #fff;
    color: #333;
    line-height: 2;
  &.active {
    background: #eee;
    font-weight: 600;
    .side__list__icon {
      color: #333;
      font-size: 26px;
      }
      }

      &__text{
        vertical-align: middle;
      }

      .fa{
        color: #ccc;
        float: right;
        font-size: 26px;

        }
      }
  ul{
      display: block;
  li{
      border-top: 1px solid #eee;
    }
  }
  h3{
    font-size: 16px;
    margin: 40px 0 0;
  }
}