.sub-page
  .my-page
    .my-page__user
      .my-page__user__icon
        =link_to image_tag '#', src: 'app/assets/my-page.jpg' do
          = image_tag "my-page.jpg",{class:"my-page__user__image"}
          %h2 メルカリ 太郎
          .my-page__user__icon__number
            .my-page__user__icon__number__valuation
              .my-page__user__icon__number__valuation__word 評価
              .my-page__user__icon__number__valuation__number 0
            .my-page__user__icon__number__exhibit
              .my-page__user__icon__number__exhibit__word 出品数
              .my-page__user__icon__number__exhibit__number 0
    .my-page__notification
      %ul.my-page__notification__ul
        %li.active
          %h3
            =link_to 'お知らせ','#'
        %li
          %h3
            =link_to'やることリスト', '#'
      .my-page__notification__content
        %ul.my-page__notification__content__list{id:"#"}
          %li
            =link_to'#',{class:"my-page__notification__content__list__link"} do
              =image_tag "logo_red.svg",{class:'my-page__notification__content__list__link__logo'}
              .my-page__notification__content__list__boby
                .my-page__notification__content__list__boby__text
                  【1,000円分のポイントが必ずもらえます】新規登録キャンペーン開催中！
                %time
                  %i.far.fa-clock{class:'my-page__notification__content__list__boby__text__icon'}
                  %span 3日前
              %i.fa.fa-angle-right{class:'my-page__notification__content__list__icon'}
          %li.my-pag__notificatione__content__list__go
            =link_to '一覧を見る','#'
    .my-page__product
      %h2.my-page__product__head 購入した商品
      %ul.my-page__product__trading
        %li.active
          %h3
            =link_to '取引中','#'
        %li
          %h3
            =link_to '過去の取引','#'
      .my-page__product__content
        %ul.my-page__product__content__page.actrive
          %li.my-page__product__content__page__bold 取引中の商品がありません
        %ul.my-page__product__content__page
          %li.my-page__product__content__page__bold


  .side
    %ul
      %li
        =link_to '#',{class:"side__list active" } do
          マイページ
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          お知らせ
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          やることリスト
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          いいね！一覧
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          出品する
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          出品した商品-出品中
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          出品した商品-出品中-取引中
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"} do
          出品した商品-出品中-売却済み
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"} do
          出品した商品-出品中-取引中
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"} do
          出品した商品-出品中-過去の取引
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"} do
          ニュース一覧
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"}do
          評価一覧
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list"} do
          ガイド
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          お問い合わせ
          %i.fa.fa-angle-right{class:"side__list__icon"}
    %h3 メルペイ
    %ul
      %li
        =link_to '#',{class:"side__list" } do
          売上・振込申請
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          ポイント
          %i.fa.fa-angle-right{class:"side__list__icon"}
    %h3 設定
    %ul
      %li
        =link_to '#',{class:"side__list" } do
          プロフィール
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          発送元・お届け先住所変更
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          支払い方法
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          メール/パスワード
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          本人情報
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          電話番号の確認
          %i.fa.fa-angle-right{class:"side__list__icon"}
      %li
        =link_to '#',{class:"side__list" } do
          ログアウト
          %i.fa.fa-angle-right{class:"side__list__icon"}

