.sub-page{
  overflow: hidden;
  margin: 40px auto 0;
  width: 1020px;
  height: 1300px;
  padding: 0 0 40px;
  .my-page{
    height: 1000px;
    width: 700px;
    float: right;
    &__user{
      width: 700px;
      height: 200px;
      &__icon{
        background-repeat: no-repeat;
        text-align:center;
        background-image: url('./user-bg.jpg');
        &__image{
          @include box(60px,60px);
          border-radius: 50%;
          justify-content:center;
        }
        &__number{
          margin: 8px 0 0;
          display: inline-block;
          padding:  10px; 
          color: #333333;  
          &__valuation{
            display: inline-block;
          }
        }
        h2{
          color: #333;
          margin-block-start: 0.23em;
          margin-block-end: 0.23em;
          line-height: 1.4;
        }
      }
    }
    &__notification{
      background: #fff;
      height: 200px;
      width: 700px;
      &__ul{
      ul.my-page__notice{
        font-size: 0;
        background: #eee;
        margin-left: auto;
        margin-right: auto;
        li{
          height:50px;
          display:inline-block;
          text-align: center;
          vertical-align: top;
          width: 50%;
          &.active{
            background: #fff;
            a{
              border-top: 2px solid #ea352d;
            }
          }
        }
      }
        h3{
          text-align:center;
          font-size: 22px;
        }
        height: 50px;
        &__list{
          height: 50px;
          color: #333;
          font-size: 16px;
          display: block;
          }
    }
    &__content{
      height: 100px;
      &ul.my-page__notice{
        color: #333;
        display: block;
        li{
          border-bottom: 1px solid #eee;
        }
      }
    }
    }
  }
  .side{
      width: 280px;
      margin: 0 40px 0 0;
      float: left;
      &__list{
        position: relative;
        display: block;
        height: 20px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        &.active {
          background: #eee;
          font-weight: 600;
          .side__list__icon {
            color: #333;
            }
          }
        &__icon{
          color: #ccc;
          float: right;
          font-size: 25px;
          }
        }
    ul{
        display: block;
    li{
        border-top: 1px solid #eee;
      }
    }
    h3{
      margin: 40px 0 0;
    }
  }
}