%body
  %header.single-header
  .main-box
    .main-box__head 商品情報を入力
    .main-box__image
      出品情報
      %p 最大10枚までアップロードできます
      .main-box__imagebox
    .main-box__name
    .main-box__show
    .main-box__haisou
    .main-box__price
    .main-box__foot
  %footer.single-footer
