%body
  %header.purchase_confirmation__top
    %h1
      %a{:href => "###"}= image_tag 'fmarket_logo_red.svg', class:'purchase_confirmation__top-logo'
  %footer.purchase_confirmation__bottom
    .purchase_confirmation__bottom__content
      .purchase_confirmation__bottom__content__terms
        %ul.purchase_confirmation__bottom__content__terms__menu
          %li
            %a{:href => "###"} プライバシーポリシー
          %li
            %a{:href => "###"} メルカリ利用規約
          %li
            %a{:href => "###"} 特定商取引に関する表記
      %a{:href => "###"}= image_tag 'logo_gray.svg', class:'purchase_confirmation__bottom-logo'
