<header class="purchase_confirmation__top">
<h1>
<a href="###"><%= image_tag 'fmarket_logo_red.svg', class:'purchase_confirmation__top-logo' %></a>
</h1>
</header>


<footer class="purchase_confirmation__bottom">
  <div class="purchase_confirmation__bottom__content">
      <div class="purchase_confirmation__bottom__content__terms">
        <ul class="purchase_confirmation__bottom__content__terms__menu">
          <li><a href="###">プライバシーポリシー</a></li>
          <li><a href="###">メルカリ利用規約</a></li>
          <li><a href="###">特定商取引に関する表記</a></li>
        </ul>
      </div>
    <a href="###"><%= image_tag 'logo_gray.svg', class:'purchase_confirmation__bottom-logo' %></a>
  </div>
</footer>