.form-group__error{
  height: 21px;
  width: 343px;
  margin-top: 8px;
  text-align: left;
  color: $accent;
}
.form-group__error-wide{
  height: 42px;
  width: 343px;
  margin-top: 8px;
  text-align: left;
  color: $accent;
}