$accent: #ea352d;
$button: #fff;

/*サイド,body,トップ,検索、ユーザー登録,購入のいいねなどボタン*/

$main: #f5f5f5;

/*トップボタン、サイドの濃い灰色*/

$visit: #eee;
$link: #0099e8;

/*呼び出す時は@include mixin名*/

@mixin box($height, $width) {
    height: $height;
    width: $width;
}

@mixin button ($background, $font-size, $padding) {
    background: $background;
    font-size: $font-size;
    padding: $padding;
}
/*header icon*/
@mixin icon (){
    float: left;
    font-size: 19px;
    color: #cccccc;
}