<body>
    <header class="single-header">
    </header>
    <div class="main-box">
      <div class="main-box__head">商品情報を入力</div>
      <div class="main-box__image">
      出品情報
          <p>最大10枚までアップロードできます</p>
        <div class="main-box__imagebox"></div>
      </div>
      <div class="main-box__name"></div>
      <div class="main-box__show"></div>
      <div class="main-box__haisou"></div>
      <div class="main-box__price"></div>
      <div class="main-box__foot"></div>

      
      
    </div>

<footer class="single-footer">
</footer>
</body>
</html>